@font-face {
  font-family: 'Candara';
  src: url('./fonts/Candara_Bold.tff') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Candara';
  src: url('./fonts/Candara.tff') format('woff2');
  font-weight: 500;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Candara', system-ui, sans-serif !important;
  letter-spacing: .5px !important;
}
#root{
  position: relative;
  /* overflow-x: hidden; */
  z-index: 1;
}
body{
    overflow-x: hidden;
    color: #01244a;
    background-color: #F7F7F7;
}
img{
    width: 100%;
}
a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}
.spacing {
  width: min(70vmax, 95%);
  max-width: 1080px;
  margin: 0 auto;
}
.ql-container {
  border-radius: 0 0 15px 15px !important;
  background: rgb(255, 255, 255) !important;
  height: 100vh !important;
}
.ql-toolbar {
  border-radius: 15px 15px 0 0 !important;
  background: rgb(255, 255, 255) !important;
}
.content iframe {
  width: 907px !important;
  height: 510px !important;
  border-radius: 15px;
}
.ql-tooltip, 
.ql-editing {
  left: 145px !important;
}