@font-face {
  font-family: 'Candara';
  src: url('./fonts/Candara_Bold.tff') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Candara';
  src: url('./fonts/Candara.tff') format('woff2');
  font-weight: 500;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Candara', system-ui !important;
  letter-spacing: .5px !important;
  /* background-color: rgba(255, 0, 0, 0.123); */
}
body{
    overflow-x: hidden;
    color: #01244a;
    background-color: #F7F7F7;
}
img{
    width: 100%;
}
a{
  text-decoration: none;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}
.spacing {
  width: min(70vmax, 95%);
  max-width: 1080px;
  margin: 0 auto;
}
.blueLight300{
  background-color: #77A6B8;
}
.blueLight100 {
background-color: #8FC2D6;
}
.blueLight500 {
background-color: #4798B7;
}
.blueLight400 {
background-color: #59AAD7;
}
